mixin menu
    a(href="#") clikc
    button(type="submit") hola

mixin card(image, title, description)
    article.card
        .card__image
            img(src=image)
        h2.card__title=title
        p.card__body=description