extends includes/template
//- block title
//-     | Biembenido al home
//- append styles
//-     link(rel="stylesheet", href="css/main.css")
//- block header
//-     h1 hola mundo
//-     p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius praesentium at obcaecati nesciunt officiis, laboriosam sed eveniet similique minus eos velit impedit rerum laudantium esse unde dolor odio. Consequuntur, labore!
//-     p hola
//-     style.
//-         p{
//-             color:red;
//-         }
//-     block  content
block content
    +menu
    p=pageTitle
    +card('dey.jpg','hola mundo','estudia')
    +card('dey.jpg','hola mundo','estudia')
    +card('dey.jpg','hola mundo','estudia')
    +card('dey.jpg','hola mundo','estudia')

    